# Ignorar archivos y directorios generados por el entorno virtual de Python
venv/
__pycache__/
*.py[cod]

# Ignorar archivos de configuración personal
config.py
config/

# Ignorar archivos de base de datos SQLite
*.sqlite3

# Ignorar archivos de log
*.log

# Ignorar archivos de Jupyter Notebook
*.ipynb_checkpoints

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos temporales
*.tmp
*.swp
*.swo
*~

# Ignorar archivos y carpetas de Salesforce
*.meta.xml
.sfdx/
node_modules/
.idea/

# Ignorar archivos específicos de IDEs
.vscode/
*.iml
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar archivos relacionados con coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
